@model IEnumerable<Flight> 

<h1>List of Available Flights</h1>


<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.FlightNumber)</th>
            <th> @Html.DisplayNameFor(model => model.Departure)</th>
            <th> @Html.DisplayNameFor(model => model.Arrival)</th>
            <th> @Html.DisplayNameFor(model => model.DepartureTime)</th>
            <th> @Html.DisplayNameFor(model => model.ArrivalTime)</th>
            <th>@Html.DisplayNameFor(model => model.FreeSeats)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.FlightNumber)</td>

            <td>@Html.DisplayFor(model => item.Departure)</td>

            <td>@Html.DisplayFor(model => item.Arrival)</td>

            <td>@Html.DisplayFor(model => item.DepartureTime)</td>

            <td>@Html.DisplayFor(model => item.ArrivalTime)</td>

            <td>@Html.DisplayFor(model => item.FreeSeats)</td>

            <td><a asp-action="Details" asp-route-id="@item.FlightId" class="btn btn-outline-info">Details</a></td> 
            
        </tr>

        }
    </tbody>
</table>

